<body style="background-image:url(../../Content/images/blur-background-2560x1600-spectrum-electromagnetic-4k-901.jpg)" >
    @*The view*@
    <div ng-view></div>



    <script src="/Scripts/FileUpload/ng-file-upload-all.js"></script>
    <script src="/Scripts/FileUpload/ng-file-upload-all.min.js"></script>
    <script src="/Scripts/FileUpload/ng-file-upload-shim.js"></script>
    <script src="/Scripts/FileUpload/ng-file-upload-shim.min.js"></script>
    <script src="/Scripts/FileUpload/ng-file-upload.js"></script>
</body>
